/*Start-index page*/
.main-container{
	min-height: 100vh;
	width: 100%;
	background-image: url("../../assets/bg.png");
	background-size: cover;
  }
.top-container{
	height: auto;
	width: 100%;
	display: flex;
	margin-top: 100px;
	
  }
.left-container{
	height: auto;
	width: 50%;
	display: block; 
}
  
.right-container{
	height: auto;
	width: 50%;
	display: block;
	justify-content: center;
  
	} 
  
.btn-create{
	  width :30%;
	  margin-top: 30px;
	  text-size-adjust: small;
	  background-color: #764777;
	  resize: both;
	
	}
.btn-create:hover {background-color:#905f91 }
	
.text-1{

	  display: flex;
	  justify-content: center;
	  font-size: xx-large;
	  font-weight: bold;
	  font-style: italic;
	  margin-bottom: 10pxcd;
	  text-decoration: #8b5d8b;
	}
.text-2{
      display: flex;
	  justify-content: center;
	  font-size: medium;
	  margin-bottom: 100px;
	  margin-top: 30px;
	  text-decoration: #9b979b;
	  
	}
.btn-class{
   display: flex;
   justify-content: center;
}
	
@media only screen and (max-width: 900px) {
    .btn-create{
     font-size: 0;
    }
}

@media only screen and (max-width: 600px) {
    .top-container{
     display: block;
    }
}

 /*End-index page*/




/*start - About page*/

.grid-container{
	border-radius: 1px;
	width :1500px;
	margin-left: 250px;
	margin-right: 150px;;
	

}
.head-about{
	text-align: center;
	font-weight: bolder;
	color: rgb(212, 99, 99);
	margin-bottom: 50px;
	margin-top: 50px;

}

@media only screen and (max-width: 900px) {
    .grid-container{

     display: block;
	 margin-left:100px;
    }
}

/*end - About page*/