@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
/*Start-index page*/
.index{
	width: 100%;
}
.main-container{
	min-height: 100vh;
	width: 100%;
	background-image: url("../../assets/bg.png");
	background-size: cover;
  }

.main-container-1{
	min-height: 100vh;
	width: 100%;
	background-image: url("../../assets/bg...png");
	background-size: cover;
  }

.top-container{
	height: auto;
	width: 100%;
	display: flex;
	margin-top: 75px;
	
  }
.left-container{
	height: auto;
	width: 40%;
	display: block;
	justify-content: center; 
	margin-top: 30px;
}
  
.right-container{
	height: auto;
	width: 60%;
	display: block;
	justify-content: center;
  
	} 
  
.btn-create{
	  width :auto;
	  margin-top: 20px;
	  text-size-adjust: small;
	  background-color: #533964;
	  resize: both;
	  border-radius: 20px;
	  padding: 10px 40px;
	}
.btn-create:hover {background-color:#905f91 }
	
.text-1{
     display: flex;
	  justify-content: center;
	  font-size: 40px;
	  font-weight: bold;
	  font-style: italic;
	  margin-bottom: 10pxcd;
	  color: #1a191a;
	  text-align: center;
	}
.text-2{
	  padding: 20px 50px;
    display: flex;
	  justify-content: center;
	  font-family: 'Roboto', sans-serif;
	  font-size: 20px;
	  text-align: justify;
	  color: #686568;
	  text-align: justify;
	}
.text-2-wrap{

	display: flex;
	justify-content: center;
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 20px;
	color: #1a191a;
	  
	}

.text-1-1{

	display: flex;
	justify-content: center;
	font-size: 18px;
	text-align: justify;
	color: #686568;
		
	  }

.btn-class{
   display: flex;
   justify-content: center;
}
.trending-board-container{
 text-align: center;
}
.trending-board{
	font-size: 40px;
	color: #3b1c4e;
	width: auto;
	font-family: 'Handlee', cursive;
}
.svgstyle{
	margin-bottom: -10px;
}
	
@media only screen and (max-width: 900px) {
    .btn-create{
     font-size: 0;
    }
}

@media only screen and (max-width: 800px) {
    .top-container{
     display: block;
    }
}

 /*End-index page*/




/*start - About page*/

.left-container-1{
	height: auto;
	width: 50%;
	display: block;
	justify-content: center; 
	padding: 50px;
}
  
.right-container-1{
	height: auto;
	width: 50%;
	display: block;
	justify-content: center;
	padding: 50px;
  
} 

.footer{
    position: relative;
	height: auto;
	width:100%;
	padding: 50px 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #2d153b;
}

.icon{
	display: block;
	justify-content: center; 
	text-align: center;
	width: 100%;
	margin: 30px 0 30px 0;
}

.aboutus{
	margin-right: 30px;
    width: 40%;
}

.h2{
    color: rgba(253, 253, 253, 0.849);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	position: relative;
	margin-bottom: 15px;
}
.aboutus p{
	color: #adaaad;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.Quicklinks{
	position: relative;
	width:25%;
}

.Quicklinks ul li{
	list-style: none;
}

.Quicklinks ul li a {
	color: #adaaad;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}

.Quicklinks ul li a:hover{
	color: white;
}

.contact{
	display: block;
	
}
.row{
	width: 100%;
	display: flex;
	margin: 20px;
}
.text-4{

	color: #adaaad;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-left: 10px;

}
.text-3{
	display: flex;
	justify-content: center;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #555355;
    
}

.text-2{

	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	width: 70%;
	font-size: 20px;
	text-align: justify;
	color: #686568;
	
  }
.text-2-wrap{

  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 30 0 100 0;
	  
}


/*end - About page*/