@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
/*Start-index page*/
.index{
	width: 100%;
}
.main-container{
	min-height: 80vh;
	width: 100%;
	background-image: url("../../assets/bg.png");
	background-size: cover;
  }

.main-container-1{
	min-height: 100vh;
	width: 100%;
	background-image: url("../../assets/bg...png");
	background-size: cover;
  }

.top-container{
	height: auto;
	width: 100%;
	display: flex;
	margin-top: 100px;
	
  }
.left-container{
	height: auto;
	width: 40%;
	display: block;
	justify-content: center; 
}
  
.right-container{
	height: auto;
	width: 60%;
	display: block;
	justify-content: center;
  
	} 
  
.btn-create{
	  width :auto;
	  margin-top: -50px;
	  text-size-adjust: small;
	  background-color: #3b1c4e;
	  resize: both;
	  border-radius: 20px;
		padding: 0px 40px;
	}
.btn-create:hover {background-color:#905f91 }
	
.text-1{
	  display: flex;
	  justify-content: center;
	  font-size: 40px;
	  font-weight: bold;
	  font-style: italic;
	  margin-bottom: 10pxcd;
	  color: #1a191a;
	  text-align: center;
	}
.text-2{
	  padding: 0px 50px;
      display: flex;
	  justify-content: center;
	  font-size: medium;
	  margin-bottom: 100px;
	  margin-top: 30px;
	  color: #686568;
	  text-align: justify;
	}
.btn-class{
   display: flex;
   justify-content: center;
}
.trending-board-container{
 text-align: center;
}
.trending-board{
	font-size: 40px;
	color: #3b1c4e;
	width: auto;
	font-family: 'Handlee', cursive;
}
	
@media only screen and (max-width: 900px) {
    .btn-create{
     font-size: 0;
    }
}

@media only screen and (max-width: 800px) {
    .top-container{
     display: block;
    }
}

 /*End-index page*/




/*start - About page*/

.left-container-1{
	height: auto;
	width: 50%;
	display: block;
	justify-content: center; 
	padding: 50px;
}
  
.right-container-1{
	height: auto;
	width: 50%;
	display: block;
	justify-content: center;
	padding: 50px;
  
	} 
.text-3{
	display: flex;
	  justify-content: center;
	  font-size: 36px;
	  font-weight: bold;
	  margin-bottom: 10px;
	  color: #555355;
    
}
.head-about{
	text-align: center;
	font-weight: bolder;
	color: rgb(212, 99, 99);
	margin-bottom: 50px;
	margin-top: 50px;

}

/*end - About page*/