/.idea
/.vscode
/database/

#remove Library Files from Client
/node_modules/
/client/node_modules/
/client/coverage/
/client/.next/
/client/.idea/
/client/.vscode/
/client/out/
/client/build/
/client/.env

#remove Library Files From Server
/server/.vs/
/server/.vscode/
/server/node_modules/
/server/.env

#remove Library Files From Fastify
/fastify/node_modules/

#remove Library Files From http proxy
/websocket/node_modules/

# ependencies
/.pnp
.pnp.js

# misc
.DS_Store
*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/logs
/server/*.log
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/lerna-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
