html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --parent-height: 220px;
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 100!important;
  width:100%;
  height:75px;
  padding-top: 20px;
  padding-left: 50px;
  display: flex;
}
.navbar.active,.navbar-active{
  background-color:#752E9E;
  color: rgb(255, 255, 255);
}
.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root:hover{
  background-color:#58038a!important;
}
css-mf1cb5-MuiButtonBase-root-MuiIconButton-root{
  background-color:#752E9E;
  color: rgb(255, 255, 255);
}

/*start-Login component*/
.mainbackground{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 70px;
	height: 90vh;
}
.new_span{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
.modern_a{
	color: #333;
	font-size: 12px;
    color:#BB9CD1 ;
	text-decoration: none;
	margin: 15px 0;
	font-family: 'Open Sans', sans-serif;
}
	
.modern_btn{
	border-radius: 20px;
	border: 1px solid #BB9CD1;
	background-color: #BB9CD1;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.modern_btn:active {
	transform: scale(0.95);
}

.modern_btn:focus {
	outline: none;
}
button.ghost {
    margin-top: 5px;
	background-color: transparent;
	border-color: #ffffff81;
}


.modern_form{
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
.input_box_container{
	display: flex;
	border-radius: 8px;
	width: 80%;
	margin: 8px 0;
	background-color: rgba(238, 238, 238, 0.856);
	transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
}

.input_box_container:hover {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }
  
.input_box_container.active {
	background-color: #ffffff;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  }


.inputbox_modern{
	background-color: rgba(238, 238, 238, 0.733);
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 12px 15px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;

}
.inputbox_modern_1{
	background-color: rgba(238, 238, 238, 0.733);
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 12px 15px;
	width: 80%;
	font-family: 'Open Sans', sans-serif;
}
.icn{
	width: 20%;
	margin-top: 10px;
}
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 900px;
	max-width: 100%;
	min-height: 600px;
}

.form_container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign_in_container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right_panel_active .sign_in_container {
	transform: translateX(100%);
}

.sign_up_container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right_panel_active .sign_up_container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay_container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}


@media only screen and (max-width: 600px) {
    .overlay_container{
     display: block;
    }
}

.container.right_panel_active .overlay_container{
	transform: translateX(-100%);
}

.overlay {
	background: #614074;
	background: -webkit-linear-gradient(to right, #7a497a, #412742);
	background: linear-gradient(to right, #482D57, #412742);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right_panel_active .overlay {
  	transform: translateX(50%);
}

.overlay_panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay_left {
	transform: translateX(-20%);
}

.container.right_panel_active .overlay_left {
	transform: translateX(0);
}

.overlay_right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel_active .overlay_right {
	transform: translateX(20%);
}


.radio{
    margin-top: 20px;
    margin-bottom: 20px;

}
.radio_label{
    font-size: 13px;
    padding: 0 15px 5px 0;
}

.head_signin{
    font-size: x-large;
    font: weight 700px; 
    color: slategrey;
    margin-bottom: 70px;
    margin-top: 50px;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
   
}
.head_signup{
    font-size: x-large;
    font: weight 700px; 
    color: slategrey;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
   
}

.content_1{
    font-size: 30px;
    font-weight: bolder;
    color:#8F7F98;
    text-align: center;
    padding-top:20px;
	font-family: 'Open Sans', sans-serif;
    
}

.content_2{
    font-size: 12px;
    color : #8F7F98;
    text-align: center;
    text-indent: left;
	font-family: 'Open Sans', sans-serif;
    
}

@media only screen and (max-width: 800px) {
    .radio{
     display: flex;
     flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    
    .head_signup{
    font-size: medium;
    }

    .new_span{
    display: none;
    }
    .modern_btn{
     font-size: 9px;
     height: max-content;
	 padding: 8px 10px;
    }
	
    .content_1{
        display: none;
    }
    .content_2{
        display: none;
        
    }
    .radio{
        display: flex;
        flex-direction: column;
        margin: 0;
       }
   
       .radio-label{
       padding: 0;
       }
}
@media only screen and (max-width: 300px) {
    
    .head_signup{
    font-size: small;
    
    }   
}

.input_box_error{
    margin-bottom: 5px;
    font-size: large;
    border-color: red;
    width: 100%;

}

.pricing_box{
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    size: auto;
}
.error_message{
    font-family: 'Open Sans', sans-serif;
    color: red;
    font-size: 12px;
	
}
/*end - Login component*/

/*start - forgotpwd component*/

.box_1{
    width: 100%;
    background-color: #E3E3ED;
    border-bottom-right-radius: 10px;
  
}

.head_password{
    font-size: x-large;
    font: weight 700px ;
    color: slategrey;
    margin-bottom: 70px;
    margin-top: 50px;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.pwd_container{
    padding: 50px 0px;
    align-content: center;
    width: 100%;
    min-height: 600px;
    
}

@media only screen and (max-width: 400px) {
    .pwd_container{
        display: flex;
        display: block;
                
    }
    .box_1{
       width: 0px;
       display: none;
    
}
    .head_password{ 
        display: flex;
        font-size:large;

    }
}

/*end- forgotpwd component*/

/*buyer - sidebar component*/
.buyer-c-sidebar-item{
  width:60px;
  height:60px;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  border-style:solid;
  margin-top: 20px;
  cursor: pointer;
}
.buyer-c-sidebar-item.active{
  border-color: white;
  background-color: #752E9E;
}
.buyer-c-sidebar-item-icon.active{
  color: white;
}
.buyer-c-sidebar-item:hover{
  border-color: white;
  background-color: #752E9E;
  color: white;
}
.buyer-c-sidebar-item-icon:hover{
  color: white;
}
.buyer-c-sidebar-item-icon{
  color: black;
}
@media only screen and (max-width: 600px) {
  .buyer-c-sidebar-item{
    margin-top: 0px;
    width: 15%;
    margin: 0 1%;
    height: auto;
  }
}
/*buyer - sidebar component*/


/*manager styles*/

/*start - sidebar*/

.manager-c-sidebar-item{
  width:60px;
  height:60px;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  border-style:solid;
  margin-top: 35px;
  cursor: pointer;
}
.manager-c-sidebar-item.active{
  border-color: white;
  background-color: #752E9E;
}
.manager-c-sidebar-item-icon.active{
  color: white;
}
.manager-c-sidebar-item:hover{
  border-color: white;
  background-color: #752E9E;
  color: white;
}
.manager-c-sidebar-item-icon:hover{
  color: white;
}
.manager-c-sidebar-item-icon{
  color: black;
}

@media only screen and (max-width: 600px) {
  .manager-c-sidebar-item{
    margin-top: 0px;
    width: 15%;
    margin: 0 1%;
    height: auto;
  }
}
/*end - sidebar*/

/*start - manager topbar*/

.manager-c-topbar-item.active {
  border-color: #752E9E;
  background-color: #752E9E;
  color: white;
}

.manager-c-topbar-item {
  margin-top: 0px;
  width: 40%;
  text-align: center;
  margin: 0px 10px 0px;
  height: auto;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
}
/*end - manager topbar*/

/*start - manager seller topbar*/

.manager-seller-c-topbar-item {
  margin-top: 0px;
  width: 40%;
  text-align: center;
  margin: 0px 10px 0px;
  height: auto;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
}
.manager-seller-c-topbar-item.active {
  border-color: #752E9E;
  background-color: #752E9E;
  color: white;
}
/*end - manager seller topbar*/



.seller_c_sidebar_item.active{
  border-color: white;
  background-color: #752E9E;
}
.seller_c_sidebar_item_icon.active{
  color: white;
}
.seller_c_topbar_item.active{
  border-color: #752E9E;
  background-color: #752E9E;
  color: white;
}
.seller_c_sidebar_item:hover{
  border-color: white;
  background-color: #752E9E;
  color: white;
}

.seller_c_sidebar_item_icon:hover{
  color: white;
}
.seller_c_sidebar_item_icon{
  padding: 10px;
  color: black;
}
.seller_c_topbar_item:hover{
  border-color:#752E9E;
  background-color: #752E9E;
  color: white;
}
.seller_c_sidebar_item{
  width:60px;
  height:60px;
  border: 1px;
  border-color: black;
  border-radius: 10px;
  border-style:solid;
  margin-top: 45px;
  padding: 0px;
  cursor: pointer;
}
.seller_c_topbar_item{
  margin-top: 0px;
  width: 25%;
  text-align: center;
  margin: 0px 10px 0px;
  height: auto;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  border-style:solid;
  cursor: pointer;
}
:root {
  --parent-height: 220px;
}
@media only screen and (min-width: 600px) {
  @media only screen and (max-height: 415px) {
      .seller_c_sidebar_item {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          margin-top: 6px;
          padding: 0px;
      }
  }
  @media only screen and (min-height: 530px) {
      .seller_c_sidebar_item {
          width: 55px;
          height: 55px;
          border-radius: 10px;
          margin-top: 30px;
          padding: 0px;
      }
  }
}
@media only screen and (max-width: 600px) {
  .seller_c_sidebar_item{
      margin-top: 0px;
      width: 50px;
      margin: 0% 8%;
      height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .seller_c_sidebar_item{
      margin: 0% 6%;
  }
}
@media only screen and (max-width: 400px) {
  .seller_c_sidebar_item{
      margin: 0% 5%;
  }
}
@media only screen and (max-width: 360px) {
  .seller_c_topbar_item{
      margin: 0px 5px 0px;
  }
}
@media only screen and (max-width: 320px) {
  .seller_c_topbar_item{
      margin: 0px 3px 0px;
  }
}
@media only screen and (max-width: 300px) {
  .seller_c_sidebar_item{
      margin: 0% 4%;
  }
  .seller_c_topbar_item{
      margin: 0px;
  }
}

