/*start - sidebar component*/
.manager-c-sidebar{
    width:130px;
    height: calc(100vh - 70px);
    min-height: 800px;
    padding: 60px 10px;
}
.manager-c-sidebar-container{
    width: 100%;
    height:100%;
    background-color: #752E9E;
    border-radius: 30px;
    padding: 30px 23px;
}
.manager-c-sidebar-item{
    width:60px;
    height:60px;
    border: 1px;
    border-color: white;
    border-radius: 10px;
    border-style:solid;
    margin-top: 35px;
    padding: 7px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .manager-c-sidebar{
        width: 100%;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        
    }
    .manager-c-sidebar-container{
        display: flex;
        height: auto;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    .manager-c-sidebar-item{
        margin-top: 0px;
        width: 15%;
        margin: 0 1%;
        height: auto;
    }
}
/*end - sidebar component*/


/*start - pending ticket component*/
:root {
    --parent-height: 220px;
  }
.manager-c-tickets{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #752E9E;
    position: relative;
    margin: 10px;
}
.manager-c-tickets-cardstatus{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.manager-c-tickets-top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    background-size: cover;
    height:calc(var(--parent-height)*0.8);
    position: relative;
}
.manager-c-tickets-top-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:calc(var(--parent-height)*0.2);
    position: absolute;
    bottom: 0;
    display: flex;
}
.manager-c-tickets-top-info-left{
    width: 75%;
    padding-left: 6px;
    color: white;
}
.manager-c-tickets-top-info-right{
    padding-right: 6px;
    color: white;
    position: relative;
    width: 25%;
    text-align: center;
}
.manager-c-tickets-top-info-right-nooftickets{
    position: block;
    width: 100%;
}
.manager-c-tickets-top-info-right-tickets{
    font-size: 10px;
}
.manager-c-tickets-top-head{
    display: flex;
    padding-left: 10px;
}
.manager-c-tickets-top-head-left{
    padding-top: 10px;
    color: white;
    width: 60%;
}
.manager-c-tickets-top-head-right{
    width: 40%;
    display: flex;
    background-color: #752E9E;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 40px;
    color: white;
}
.manager-c-tickets-top-head-right-1{
    font-size: 12px;
    padding-right: 5px;
    bottom: 0;
}
.manager-c-tickets-top-head-right-2{
    font-size: 18px;
}
#customized-dialog-title{
    background-color: #752E9E;
    color: white;
}
@media only screen and (max-width: 550px) {
    .manager-c-tickets{
        width: 230px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 450px) {
    .manager-c-tickets{
        width: 170px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .manager-c-tickets{
        width: 155px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 350px) {
    .manager-c-tickets{
        width: 135px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 330px) {
    .manager-c-tickets{
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }
}

/*end - pending tickets component*/


/*start - pending events info component*/

.manager-c-ticketspublishdecline-buttons-stack
{
    align-self: center; 
    justify-content: center;
}

.manager-c-ticketsinfo-top-head-right{
    width: 100%;
    display: flex;
    background-color: #752E9E;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: auto;
    padding-left: auto;
    color: white;
}
.manager-eventinfo-image{
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    height:calc(var(--parent-height)*0.5);
    width: 100%;
    padding: 10px;
}
.manager-eventinfo-font
{
    color:black
}

/*manager password reset component*/

.manager-settings-head{
    font-size: x-large !important;
    font-weight: bolder !important ;
    color: slategrey !important;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center !important;
    text-decoration: underline !important;
   
}
.manager-password-box{
    height: 100%;
    width: 100%;
    background-color :white;
    border-bottom-left-radius: 10px;

}

.manager-password-container{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    opacity: 100%;
}

.manager-password-box2{
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    size: auto;
    margin: 10px;
}
.manager-password-form-wrapper{
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    background-color :white;
    margin: auto auto 0;
    position: relative;
}
.manager-button-submit{

    width: 40%;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: center !important;
    font-size: medium;
    background-color: #BB9CD1;
    resize: both;
    justify-content: center !important;
}

/*seller approval*/
.manager-c-sellerapprovaltable
{
    width: 100%;
}


.form-wrapper{
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto auto 0;
    position: relative;

}
.Box-1{
    height: 100%;
    width: 100%;
    background-color :white;
    border-bottom-left-radius: 10px;

}

.pwd_container{
    padding: 50px;
    align-content: center;
    width: 100%;
    height: 100%; 
    background-color: #E3E3ED;
}
.content-1{
    font-size: larger;
    font-weight: bold;
    color:#8F7F98;
    text-align: center;
    padding-top:200px;
    
}

