/*start - sidebar component*/
.manager-c-sidebar{
    z-index: 10;
    position: fixed;
    left: 0%;
    top: calc(55vh - 325px);
    height: 700px;
    width:200px;
    padding: 35px 35px;
}
.manager-c-sidebar-container{
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 30px;
    padding: 30px 25px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69);
}
.manager-c-sidebar-item{
    width:60px;
    height:60px;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    border-style:solid;
    margin-top: 45px;
    padding: 0px;
    cursor: pointer;
}
.manager-c-sidebar-item:hover{
    border-color: white;
    background-color: #752E9E !important;
    color: white;
}
.manager-c-sidebar-item-icon:hover{
    color: white;
}
.manager-c-sidebar-item-icon{
    padding: 10px;
    color: black;
}

.centername{
    text-align: center!important;
}
.manager-c-sidebar-item.active{
    border-color: white;
    background-color: #752E9E;
}
/*end - sidebar component*/

/*start - topbar component*/
.manager-c-topbar{
    z-index: 10;
    position: fixed;
    top: 70px;
    left: calc(50% - 207px);
    width: 415px;
    height: auto;
    min-height: 0px;
    padding: 10px 10px 10px;

}
.manager-c-topbar-container{
    display: flex;
    height: auto;
    width: 400px;
    padding: 10px;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69);
}
.manager-c-topbar-item{
    margin-top: 0px;
    width: 25%;
    text-align: center;
    margin: 0px 10px 0px;
    height: auto;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    border-style:solid;
    cursor: pointer;
}

.manager-c-topbar-item:hover{
    border-color:#752E9E;
    background-color: #752E9E;
    color: white;
}
.manager-c-sidebar-item-icon.active{
    color: white;
}
.manager-c-topbar-item.active{
    border-color: #752E9E;
    background-color: #752E9E;
    color: white;
}
.manager-c-topbar-item:hover{
    border-color:#752E9E;
    background-color: #752E9E;
    color: white;
}
/*end - topbar component*/

@media only screen and (max-width: 600px) {
    .manager-c-sidebar{
        width: 100%;
        top: 70px;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        margin-top: 40px; /*delete if not work*/
        
    }
    .manager-c-sidebar-container{
        display: flex;
        height:  70px;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    .manager-c-sidebar-item{
        margin-top: 0px;
        width: 50px;
        margin: 0% 8%;
        height: auto;
    }

    .manager-c-topbar{
        width: 100%;
        top: 145px;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        
    }
}

@media only screen and (max-width: 500px) {
    .manager-c-sidebar-item{
        margin: 0% 4%;
    }
}
@media only screen and (max-width: 400px) {
    .manager-c-sidebar-item{
        margin: 0% 3%;
    }
    .manager-c-topbar-container{
        display: flex;
        height: auto;
        width: 360px;
        padding: 10px;
    }
    .manager-c-topbar{
        width: 360px;
        left: calc(50% - 51%);
        height: auto;
        min-height: 0px;
        padding: 10px 10px 10px;
    
    }
}
@media only screen and (max-width: 360px) {
    .manager-c-topbar{
        left: calc(50% - 53%);
    }
    .manager-c-topbar-item{
        margin: 0px 5px 0px;
    }
}
@media only screen and (max-width: 320px) {
    .manager-c-topbar{
        left: calc(50% - 60%);
    }
    .manager-c-topbar-item{
        margin: 0px 3px 0px;
    }
}
@media only screen and (max-width: 300px) {
    .manager-c-sidebar-item{
        margin: 0% 4%;
    }
    .manager-c-topbar{
        left: calc(50% - 68%);
        width: 280px;
    }
    .manager-c-topbar-item{
        margin: 0px;
    }
    .manager-c-sidebar-container{
        width: 280px;
    }
}


/*start - pending ticket component*/
:root {
    --parent-height: 220px;
  }
.manager-c-tickets{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #752E9E;
    position: relative;
    margin: 10px;
}
.manager-c-tickets-cardstatus{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.manager-c-tickets-top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
    /*this image can be added in another ways, refer buyer's similar component*/
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    height:calc(var(--parent-height)*0.8);
    position: relative;
    background-size: cover;
}
.manager-c-tickets-top-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:calc(var(--parent-height)*0.2);
    position: absolute;
    bottom: 0;
    display: flex;
}
.manager-c-tickets-top-info-left{
    width: 75%;
    padding-left: 6px;
    color: white;
}
.manager-c-tickets-top-info-right{
    padding-right: 6px;
    color: white;
    position: relative;
    width: 25%;
    text-align: center;
}
.manager-c-tickets-top-info-right-nooftickets{
    position: block;
    width: 100%;
}
.manager-c-tickets-top-info-right-tickets{
    font-size: 10px;
}
.manager-c-tickets-top-head{
    display: flex;
    padding-left: 10px;
}
.manager-c-tickets-top-head-left{
    padding-top: 10px;
    color: white;
    width: 60%;
}
.manager-c-tickets-top-head-right{
    width: 40%;
    display: flex;
    background-color: #752E9E;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 40px;
    color: white;
}
.manager-c-tickets-top-head-right-1{
    font-size: 12px;
    padding-right: 5px;
    bottom: 0;
}
.manager-c-tickets-top-head-right-2{
    font-size: 18px;
}
#customized-dialog-title{
    background-color: #752E9E;
    color: white;
}

.css-og52vs-MuiTableCell-root.MuiTableCell-head{
    background-color: #752E9E !important;
}

@media only screen and (max-width: 550px) {
    .manager-c-tickets{
        width: 230px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 450px) {
    .manager-c-tickets{
        width: 170px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .manager-c-tickets{
        width: 155px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 350px) {
    .manager-c-tickets{
        width: 135px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 330px) {
    .manager-c-tickets{
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }
}

/*end - pending tickets component*/


/*start - pending events info component*/

.manager-c-ticketspublishdecline-buttons-stack
{
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
}

.manager-c-ticketsinfo-top-head-right{
    width: 100%;
    display: flex;
    background-color: #752E9E;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: auto;
    padding-left: auto;
    color: white;
}
.manager-eventinfo-image{
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    height:200px;
    background-size: contain;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
.manager-eventinfo-font
{
    color:black
}
/*end-pendig tikcets info component*/

/*start-active events component*/
.manager-c-tickets-active{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #5776B4;
    position: relative;
    margin: 10px;
}
/*end-active events component*/

/*start-declined events component*/
.manager-c-tickets-declined{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #AE006E;
    position: relative;
    margin: 10px;
}
/*end-declined events component*/

/*start-manager password reset component*/

.manager-settings-head{
    font-size: x-large !important;
    font-weight: bolder !important ;
    color: slategrey !important;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center !important;
}

.manager-button-submit{
    background-color: #BB9CD1;
    justify-content: center !important;
}

/*seller approval*/
.manager-c-sellerapprovaltable
{
    width: 100%;
}
