/*start - Login component*/
.login_container{
    padding: 50px;
    align-content: center;
    width: 100%;
    height: 700px;
}

.box{
    height: 100%;
    width: 100%;
    background-color:#482D57;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-weight: bolder;   
}

@media only screen and (max-width: 500px) {
    .login_container{
        height: max-content;
        display: flex;
        display: block;
        margin-bottom: 50px;
        padding: 10px;
                 
    }
    .box{
      display: none;
       
    }
    .btnsubmit{
        margin-top: 5px;
        
    }
    .content-1{
        display: none;
    }
    .content-2{
        display: none;
        
    }
   
}
.head-signin{
    font-size: x-large;
    font-weight: bolder ;
    color: slategrey;
    margin-bottom: 70px;
    margin-top: 50px;
    text-align: center;
   
}
.head-signup{
    font-size: x-large;
    font-weight: bolder ;
    color: slategrey;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center;
   
}
.input-box{
    margin-bottom: auto;
    font-size: large;
    width: 100%;


}
.input-box-error{
    margin-bottom: auto;
    font-size: large;
    border-color: red;
    width: 100%;

}
.input-div{
    width: auto;
    height: auto;
    align-self: auto;

}
.pricing-box{
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    size: auto;
}
.form-wrapper{
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto auto 0;
    position: relative;

}
.link{
    color:#BB9CD1 ;
    font-weight: semibold;
    
}

.error-message{
    font-family: Arial, serif;
    color: red;
    font-size: small;
}

.btnsubmit{

    width: 100%;
    margin-bottom: 10px;
    margin-top: 50px;
    align-self: center;
    text-size-adjust: small;
    background-color: #BB9CD1;
    resize: both;
}
.btnsubmit:hover {background-color:#af90c5 }

.content-1{
    font-size: larger;
    font-weight: bolder;
    color:#8F7F98;
    text-align: center;
    padding-top:200px;
    
}

.content-2{
    font-size: x-small;
    color : #8F7F98;
    text-align: center;
    text-indent: left;
    
}

/*end - login component*/

/*start - register component*/

.already-signup{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;

}
/*end - register component*/

/*start - resetpwd component*/

.box-1{
    width: 100%;
    background-color: #E3E3ED;
    border-bottom-right-radius: 10px;
  
}

.head-password{
    font-size: x-large;
    font-weight: bolder ;
    color: slategrey;
    margin-bottom: 70px;
    margin-top: 50px;
    text-align: center;
}
.pwd_container{
    padding: 50px;
    align-content: center;
    width: 100%;
    height: 700px;
    
}

@media only screen and (max-width: 500px) {
    .pwd_container{
        width: fit-content;
        height: fit-content;
        display: flex;
        display: block;
        margin-bottom: 50px;
        padding-left:10px;
        padding-right: 0px;
                
    }
    .box-1{
        width: 0px;
       display: none;
    
}
    .head-password{
          
        display: flex;
        font-size:large;

    }
}