/*start - Login component*/
.login_container{
    padding: 50px;
    align-content: center;
    width: 100%;  
}

.box{
    height: 100%;
    width: 100%;
    background-color:#482D57;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-weight: bolder;
    
    
}
.head{
    font-size: x-large;
    font-weight: bolder ;
    color: slategrey;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center;
   
}

.input-box{
    margin-bottom: auto;
    font-size: large;
    width: 100%;


}
.input-box-error{
    margin-bottom: auto;
    font-size: large;
    border-color: red;
    width: 100%;

}
.input-div{
    width: auto;
    height: auto;
    align-self: auto;

}
.pricing-box{
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    size: auto;
}
.form-wrapper{
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto auto 0;
    position: relative;

}
.link{
    color:#BB9CD1 ;
    font-weight: semibold;
    padding: 0px;
    
}

.error-message{
    font-family: Arial, serif;
    color: red;
    font-size: small;
}

.btnsubmit{

    width: 100%;
    margin-bottom: 30px;
    margin-top: 50px;
    align-self: center;
    font-size: medium;
    background-color: #BB9CD1;
    resize: both;
}

/*end - login component*/

/*start - register component*/

.already-signup{
    margin-top: 10px;

}
/*end - register component*/