/*start - sidebar component*/
.buyer-c-sidebar{
    width:130px;
    height: calc(100vh - 70px);
    min-height: 800px;
    padding: 60px 10px;
    
}
.buyer-c-sidebar-container{
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 30px;
    padding: 30px 23px;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69);
}
.buyer-c-sidebar-item{
    width:60px;
    height:60px;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    border-style:solid;
    margin-top: 35px;
    cursor: pointer;
}
.buyer-c-sidebar-item.active{
    border-color: white;
    background-color: #752E9E;
}
.buyer-c-sidebar-item-icon.active{
    color: white;
}
.buyer-c-sidebar-item:hover{
    border-color: white;
    background-color: #752E9E;
    color: white;
}
.buyer-c-sidebar-item-icon:hover{
    color: white;
}
.buyer-c-sidebar-item-icon{
    padding: 10px;
    color: black;
}
@media only screen and (max-width: 600px) {
    .buyer-c-sidebar{
        position: fixed;
        z-index: 10;
        width: 100%;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        
    }
    .buyer-c-sidebar-container{
        display: flex;
        height: auto;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    .buyer-c-sidebar-item{
        margin-top: 0px;
        width: 15%;
        margin: 0 1%;
        height: auto;
    }
    .buyer-index-container-parent{
        margin-top: 100px;
        
    }
    .buyer-index-container-parent h1{
        text-align: center;
    }
}
/*end - sidebar component*/

/*start - valid ticket component*/
:root {
    --parent-height: 220px;
  }
.buyer-c-ticketvalid{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    position: relative;
    margin: 10px;
}
.buyer-c-ticketvalid-cardstatus{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.buyer-c-ticketvalid-top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
    background-size: cover;
    height:calc(var(--parent-height)*0.8);
    position: relative;
}
.buyer-c-ticketvalid-top-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:calc(var(--parent-height)*0.2);
    position: absolute;
    bottom: 0;
    display: flex;
}
.buyer-c-ticketvalid-top-info-left{
    width: 75%;
    padding-left: 6px;
    color: white;
}
.buyer-c-ticketvalid-top-info-right{
    padding-right: 6px;
    color: white;
    position: relative;
    width: 25%;
    text-align: center;
}
.buyer-c-ticketvalid-top-info-right-nooftickets{
    position: block;
    width: 100%;
}
.buyer-c-ticketvalid-top-info-right-tickets{
    font-size: 10px;
}
.buyer-c-ticketvalid-top-head{
    display: flex;
    padding-left: 10px;
}
.buyer-c-ticketvalid-top-head-left{
    padding-top: 10px;
    color: white;
    width: 60%;
}
.buyer-c-ticketvalid-top-head-right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 40px;
    color: white;
}
.buyer-c-ticketvalid-top-head-right-1{
    font-size: 12px;
    padding-right: 5px;
    bottom: 0;
}
.buyer-c-ticketvalid-top-head-right-2{
    font-size: 18px;
}
#customized-dialog-title{
    background-color: #752E9E;
    color: white;
}
@media only screen and (max-width: 550px) {
    .buyer-c-ticketvalid{
        width: 230px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 450px) {
    .buyer-c-ticketvalid{
        width: 170px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .buyer-c-ticketvalid{
        width: 155px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 350px) {
    .buyer-c-ticketvalid{
        width: 135px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 330px) {
    .buyer-c-ticketvalid{
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }
}
/*end - valid ticket component*/

/*start - unvalid ticket component*/
:root {
    --parent-height: 220px;
  }
.buyer-c-ticketunvalid{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #AC0E0E;
    position: relative;
    margin: 10px;
}
.buyer-c-ticketunvalid-cardstatus{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.buyer-c-ticketunvalid-top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    background-size: cover;
    height:calc(var(--parent-height)*0.8);
    position: relative;
}
.buyer-c-ticketunvalid-top-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:calc(var(--parent-height)*0.2);
    position: absolute;
    bottom: 0;
    display: flex;
}
.buyer-c-ticketunvalid-top-info-left{
    width: 75%;
    padding-left: 6px;
    color: white;
}
.buyer-c-ticketunvalid-top-info-right{
    padding-right: 6px;
    color: white;
    position: relative;
    width: 25%;
    text-align: center;
}
.buyer-c-ticketunvalid-top-info-right-nooftickets{
    position: block;
    width: 100%;
}
.buyer-c-ticketunvalid-top-info-right-tickets{
    font-size: 10px;
}
.buyer-c-ticketunvalid-top-head{
    display: flex;
    padding-left: 10px;
}
.buyer-c-ticketunvalid-top-head-left{
    padding-top: 10px;
    color: white;
    width: 60%;
}
.buyer-c-ticketunvalid-top-head-right{
    width: 40%;
    display: flex;
    background-color: #FEC200;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 40px;
    color: white;
}
.buyer-c-ticketunvalid-top-head-right-1{
    font-size: 12px;
    padding-right: 5px;
    bottom: 0;
}
.buyer-c-ticketunvalid-top-head-right-2{
    font-size: 18px;
}
#customized-dialog-title{
    background-color: #752E9E;
    color: white;
}
@media only screen and (max-width: 550px) {
    .buyer-c-ticketunvalid{
        width: 230px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 450px) {
    .buyer-c-ticketunvalid{
        width: 170px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .buyer-c-ticketunvalid{
        width: 155px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 350px) {
    .buyer-c-ticketunvalid{
        width: 135px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 330px) {
    .buyer-c-ticketunvalid{
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }
}
/*end - unvalid ticket component*/
/*start -  ticket popup*/
.paynow{
    margin-top: 20px;
    width: 100%;
}
div.MuiFormControl-root.MuiFormControl-fullWidth.css-1w4vsez-MuiFormControl-root{
    width:92% !important;
}
.x{
    font-size: 25px;
    margin: 10px;
}
/*start -  ticket popup*/

/*start -  ticket component*/
.buyer-c-ticket{
    text-align: center;
    min-width: 500px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.57); 
box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.57);
}
@media only screen and (max-width: 450px) {
    .buyer-c-ticket{
        min-width: 100px;
        text-align: left;
    }
}
/*end -  ticket component*/
/*start -  cart card full component*/
.cartitem-card{
    padding: 10px;
    width: 100%;
    border: 1px rgb(221, 221, 221);
    border-style:solid;
    margin-bottom: 10px;
    border-radius: 10px;
}
/*end -  cart card full component*/
/*start -  cart card component*/
.cartprice-card{
    font-size: medium;
    display: flex;
}
.cartprice-card-left{
    display: flex;
    width:50%;
}
.cartprice-card-right{
    text-align: end;
    width:50%;
}
.cartitem-card-img{
    width: 25%;
}
.cartitem-card-eventname{
    width:50%;
}
.cartitem-card-price{
    width:25%;
}
.cartitem-card{
    display: flex;
}
/*end -  cart card component*/