.guestevent_container{
    max-height: 90%;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 80px;
    display: flex;
    position: relative;
    overflow: auto;
    background-color: aquamarine;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
   
}
.modern_btn{
	border-radius: 20px;
	border: 1px solid #BB9CD1;
	background-color: #BB9CD1;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor: pointer;
}

.card{

    display: flex;
    position: relative;
    overflow: auto;
    margin: 30px;
    padding: 10px;
    margin-top: 80px;
    
}


@media only screen and (max-width: 600px) {
    .guestevent_container{
        display: block;
    }
    }