@import url("https://cdn.syncfusion.com/ej2/material.css");
/*start event page*/
.buyer_bg{
    background-image: url("../assets/dashbord-bg.png");
    background-size: cover;
    height: 100vh;
}
.shop_home{
    width:100%;
    height: 100vh;
    position: relative;
    overflow: auto;
}

.event_container{
    max-height: 90%;
    margin-top: 80px;
    display: flex;
    position: relative;
    overflow: auto;
}
.event_container_left{
    width: 20%;
    overflow: auto;
}
.event_container_left_content{
    padding: 30px;
    height: auto;
}
.event_container_Right{
    overflow: auto;
    width: 80%;
}
.event_container_left {
    overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .event_container_left::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .event_container_left {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .advance_options{
      padding: 20px 0;
      display: flex;
      display: none;
  }
  .advance_options_left{
     width: 70%;
     text-align: center;
  }
  .advance_options_right{
    width:30%;
  }
  .trending_board_container{
    text-align: center;
   }
   .trending_board{
	font-size: 40px;
	color: #3b1c4e;
	width: auto;
	font-family: 'Handlee', cursive;
}
  @media only screen and (max-width: 800px) {
      .advance_options{
          display: flex;
      }
      .event_container{
          display: block;
      }
      .event_container_left{
          width: 100%;
          height: 100%;
      }
      .event_container_Right{
          width: 100%;
          height: 100%;
      }
      .auto_hide{
          overflow: hidden;
        transition: 0.5s;
        height: 0px;
      }
      .event_container_left_content{
          padding: 0 20px;
      }
      .advance_options{
          padding: 20px 0 0 0;
      }
  }
/*end event page*/
/*start home page*/
@media only screen and (max-width: 900px) {
    #left-container{
        width: 100%;
    }
    #right-container{
        width: 100%;
    }
}
/*E nd home page*/
