.seller-c-sidebar{
    z-index: 10;
    position: fixed;
    left: 0%;
    top: calc(55vh - 325px);
    height: 650px;
    width:130px;
    padding: 60px 10px;
}
.seller-c-sidebar-container{
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 30px;
    padding: 30px 25px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69);
}
.seller-c-sidebar-item{
    width:60px;
    height:60px;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    border-style:solid;
    margin-top: 45px;
    padding: 0px;
    cursor: pointer;
}
.seller-c-topbar{
    z-index: 10;
    position: fixed;
    top: 70px;
    left: calc(50% - 207px);
    width: 415px;
    height: auto;
    min-height: 0px;
    padding: 10px 10px 10px;

}
.seller-c-topbar-container{
    display: flex;
    height: auto;
    width: 400px;
    padding: 10px;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69);
}
.seller-c-topbar-item{
    margin-top: 0px;
    width: 25%;
    text-align: center;
    margin: 0px 10px 0px;
    height: auto;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    border-style:solid;
    cursor: pointer;
}
.seller-c-sidebar-item.active{
    border-color: white;
    background-color: #752E9E;
}
.seller-c-sidebar-item-icon.active{
    color: white;
}
.seller-c-topbar-item.active{
    border-color: #752E9E;
    background-color: #752E9E;
    color: white;
}
.seller-c-sidebar-item:hover{
    border-color: white;
    background-color: #752E9E;
    color: white;
}
.seller-c-sidebar-item-icon:hover{
    color: white;
}
.seller-c-sidebar-item-icon{
    padding: 10px;
    color: black;
}
.seller-c-topbar-item:hover{
    border-color:#752E9E;
    background-color: #752E9E;
    color: white;
}
.centername{
    text-align: center!important;
}
:root {
    --parent-height: 220px;
  }
.seller-c-pendingevents{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #752E9E;
    position: relative;
    margin: 10px;
}
.seller-c-pendingevents-cardstatus{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.seller-c-pendingevents-top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    background-size: cover;
    height:calc(var(--parent-height)*0.8);
    position: relative;
}
.seller-c-pendingevents-top-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:calc(var(--parent-height)*0.2);
    position: absolute;
    bottom: 0;
    display: flex;
}
.seller-c-pendingevents-top-info-left{
    width: 75%;
    padding-left: 6px;
    color: white;
}
.seller-c-pendingevents-top-info-right{
    padding-right: 6px;
    color: white;
    position: relative;
    width: 25%;
    text-align: center;
}
.seller-c-pendingevents-top-info-right-nooftickets{
    position: block;
    width: 100%;
}
.seller-c-pendingevents-top-info-right-tickets{
    font-size: 10px;
}
.seller-c-events-top-head{
    display: flex;
    padding-left: 10px;
}
.seller-c-evens-top-head-left{
    padding-top: 10px;
    color: white;
    width: 60%;
}
.seller-c-events-top-head-right{
    width: 40%;
    display: flex;
    background-color: #752E9E;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 40px;
    color: white;
}
.seller-c-events-top-head-right-1{
    font-size: 12px;
    padding-right: 5px;
    bottom: 0;
}
.seller-c-events-top-head-right-2{
    font-size: 18px;
}
#customized-dialog-title{
    background-color: #752E9E;
    color: white;
}
.seller-head-password {
    font-size: x-large;
    font: weight 700px;
    color: slategrey;
    margin-bottom: 40px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.seller-inputbox-modern {
    background-color: rgba(238, 238, 238, 0.733);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 15px;
    margin: 5px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.seller-r-setting{
    display: flex;
    background: transparent;
    height: 100%;
}
.seller-r-setting-con{
    width: 100%;
    justify-content: center;
    background: transparent;
}
.seller-r-setting-con-box{
    justify-content: center;
    background: transparent;
    width: 100%;
}
.seller-r-setting-con-box-text{
    display: flex;
    flex-direction: column;
}
.seller-modern-btn{
    border-radius: 20px;
    border: 1px solid #BB9CD1;
    background-color: #BB9CD1;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 80ms ease-in;
    transition: -webkit-transform 80ms ease-in;
    transition: transform 80ms ease-in;
    transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

@media only screen and (min-width: 600px) {
    @media only screen and (max-height: 415px) {
        .seller-c-sidebar {
            z-index: 10;
            position: fixed;
            left: 0%;
            top: -webkit-calc(55vh - 325px);
            top: calc(55vh - 200px);
            height: 400px;
            width: 130px;
            padding: 60px 10px;
        }
        .seller-c-sidebar-item {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-top: 6px;
            padding: 0px;
        }
        .seller-c-sidebar-container {
            padding: 30px 30px;
        }
        .seller-c-topbar{
            left: calc(57% - 207px);
        }
    }
    @media only screen and (min-height: 530px) {
        .seller-c-sidebar {
            z-index: 10;
            position: fixed;
            left: 0%;
            top: -webkit-calc(55vh - 325px);
            top: calc(55vh - 210px);
            height: 420px;
            width: 130px;
            padding: 0px 10px;
        }
        .seller-c-sidebar-item {
            width: 55px;
            height: 55px;
            border-radius: 10px;
            margin-top: 30px;
            padding: 0px;
        }
        .seller-c-sidebar-container {
            padding: 27px 27px;
        }
    }
    .seller-c-create-img-in{
        margin: auto;
        width: 100%;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-img{
        margin: auto;
        width: 100%;
        padding-left: 0%;
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
    .seller-c-create-img-in{
        width: 288px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-img{
        width: 325px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-table-pos-c{
        padding: 10px;
    }
    .seller-c-create-table-pos-p{
        padding: 0px;
    }
    .seller-c-create-table-pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller-c-create-table{
        width: 515px;
        padding-left: 0%;
    }
    .seller-c-sidebar{
        width: 100%;
        top: 70px;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        
    }
    .seller-c-sidebar-container{
        display: flex;
        height:  70px;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    .seller-c-sidebar-item{
        margin-top: 0px;
        width: 50px;
        margin: 0% 8%;
        height: auto;
    }
    .seller-c-topbar{
        width: 100%;
        top: 145px;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        
    }
}
@media only screen and (max-width: 568px) {
    .seller-c-events{
        width: 230px;
        border-radius: 20px;
        margin: 10px;
    }
    .seller-r-setting{
        display: flex;
        flex-direction: column;
        background: transparent;
        height: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .seller-c-sidebar-item{
        margin: 0% 6%;
    }
    .seller-c-create-img-in{
        width: 255px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-table-pos-c{
        padding: 24px;
    }
}
@media only screen and (max-width: 450px) {
    .seller-c-events{
        width: 170px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .seller-c-events{
        width: 155px;
        border-radius: 20px;
        margin: 10px;
    }
    .seller-c-sidebar-item{
        margin: 0% 5%;
    }
    .seller-c-topbar-container{
        display: flex;
        height: auto;
        width: 360px;
        padding: 10px;
    }
    .seller-c-topbar{
        width: 360px;
        left: calc(50% - 51%);
        height: auto;
        min-height: 0px;
        padding: 10px 10px 10px;
    
    }
}
@media only screen and (max-width: 380px) {
    .seller-c-create-img{
        width: 288px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-img-in{
        width: 215px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-table-pos-c{
        padding: 24px;
    }
    .seller-c-create-table-pos-p{
        padding: 0px;
    }
    .seller-c-create-table-pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller-c-create-table{
        width: 455px;
        padding-left: 0%;
    } 
}
@media only screen and (max-width: 360px) {
    .seller-c-topbar{
        left: calc(50% - 53%);
    }
    .seller-c-topbar-item{
        margin: 0px 5px 0px;
    }
    .seller-c-create-table-pos-c{
        padding: 20px;
    }
    .seller-c-create-table-pos-p{
        padding: 0px;
    }
    .seller-c-create-img-in{
        width: 215px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-img{
        width: 277px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-table-pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller-c-create-table{
        width: 435px;
        padding-left: 0%;
    }
}
@media only screen and (max-width: 350px) {
    .seller-c-events{
        width: 135px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 330px) {
    .seller-c-events{
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 320px) {
    .seller-c-topbar-container {
        width: 318px;
    }
    .seller-c-topbar-item{
        margin: 0px 3px 0px;
    }
    .seller-c-create-img-in{
        width: 215px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-img{
        width: 236px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller-c-create-table-pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller-c-create-table-pos-c{
        padding: 0px;
    }
    .seller-c-create-table-pos-p{
        padding: 0px;
    }
    .seller-c-create-table{
        width: 380px;
        padding-left: 0%;
    }
}
@media only screen and (max-width: 300px) {
    .seller-c-sidebar-item{
        margin: 0% 4%;
    }
    .seller-c-topbar{
        left: calc(50% - 68%);
        width: 280px;
    }
    .seller-c-topbar-item{
        margin: 0px;
    }
    .seller-c-sidebar-container{
        width: 280px;
    }
}



