.seller_c_sidebar{
    z-index: 10;
    position: fixed;
    left: 0%;
    top: calc(55vh - 325px);
    height: 650px;
    width:130px;
    padding: 60px 10px;
}
.seller_c_sidebar_container{
    width: 100%;
    height:100%;
    background-color: white;
    border-radius: 30px;
    padding: 30px 25px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69);
}
.seller_c_sidebar_item{
    width:60px;
    height:60px;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    border-style:solid;
    margin-top: 45px;
    padding: 0px;
    cursor: pointer;
}
.seller_c_topbar{
    z-index: 10;
    position: fixed;
    top: 70px;
    left: calc(50% - 207px);
    width: 415px;
    height: auto;
    min-height: 0px;
    padding: 10px 10px 10px;

}
.seller_c_topbar_container{
    display: flex;
    height: auto;
    width: 400px;
    padding: 10px;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69); 
    box-shadow: 0px 0px 35px -11px rgba(0,0,0,0.69);
}
.seller_c_topbar_item{
    margin-top: 0px;
    width: 25%;
    text-align: center;
    margin: 0px 10px 0px;
    height: auto;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    border-style:solid;
    cursor: pointer;
}
.seller_c_sidebar_item.active{
    border-color: white;
    background-color: #752E9E;
}
.seller_c_sidebar_item_icon.active{
    color: white;
}
.seller_c_topbar_item.active{
    border-color: #752E9E;
    background-color: #752E9E;
    color: white;
}
.seller_c_sidebar_item:hover{
    border-color: white;
    background-color: #752E9E;
    color: white;
}
.seller_c_sidebar_item_icon:hover{
    color: white;
}
.seller_c_sidebar_item_icon{
    padding: 10px;
    color: black;
}
.seller_c_topbar_item:hover{
    border-color:#752E9E;
    background-color: #752E9E;
    color: white;
}
.centername{
    text-align: center!important;
}
.seller_c_pendingevents{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #752E9E;
    position: relative;
    margin: 10px;
}
.seller_c_pendingevents_cardstatus{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.seller_c_pendingevents_top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    background-size: cover;
    height:calc(var(--parent-height)*0.8);
    position: relative;
}
.seller_c_pendingevents_top_info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:calc(var(--parent-height)*0.2);
    position: absolute;
    bottom: 0;
    display: flex;
}
.seller_c_pendingevents_top_info_left{
    width: 75%;
    padding-left: 6px;
    color: white;
}
.seller_c_pendingevents_top_info_right{
    padding-right: 6px;
    color: white;
    position: relative;
    width: 25%;
    text-align: center;
}
.seller_c_pendingevents_top_info_right_nooftickets{
    position: block;
    width: 100%;
}
.seller_c_pendingevents_top_info_right_tickets{
    font-size: 10px;
}
.seller_c_events_top_head{
    display: flex;
    padding-left: 10px;
}
.seller_c_evens_top_head_left{
    padding-top: 10px;
    color: white;
    width: 60%;
}
.seller_c_events_top_head_right{
    width: 40%;
    display: flex;
    background-color: #752E9E;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 40px;
    color: white;
}
.seller_c_events_top_head_right_1{
    font-size: 12px;
    padding-right: 5px;
    bottom: 0;
}
.seller_c_events_top_head_right_2{
    font-size: 18px;
}
#customized_dialog_title{
    background-color: #752E9E;
    color: white;
}
.seller_head_password {
    font-size: x-large;
    font: weight 700px;
    color: slategrey;
    margin-bottom: 40px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.seller_inputbox_modern {
    background-color: rgba(238, 238, 238, 0.733);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 15px;
    margin: 5px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.seller_modern_form{
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.seller_r_setting{
    display: flex;
    background: transparent;
    height: 100%;
}
.seller_r_setting_con{
    width: 100%;
    justify-content: center;
    background: transparent;
}
.seller_r_setting_con_box{
    justify-content: center;
    background: transparent;
    width: 100%;
}
.seller_r_setting_con_box_text{
    display: flex;
    flex-direction: column;
}
.seller_modern_btn{
    border-radius: 20px;
    border: 1px solid #BB9CD1;
    background-color: #BB9CD1;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 80ms ease-in;
    transition: -webkit-transform 80ms ease-in;
    transition: transform 80ms ease-in;
    transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}
.seller_dashboard{
    flex: 15;
    width: 100%;
    height: calc(100vh - 150px);
    padding-left: 124px;
}
.dashboardtop{
    display: flex;
    justify-content: space-between;
}
.dashboardItem{
    overflow: hidden;
    position: relative;
    flex: 1;
    display: flex;
    margin: 10px 40px;
    padding: 25px 30px;
    border-radius: 10px;
    max-height: 100%;
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.24)
}
.dashboardContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.dashboardMoney{
    font-size: 30px;
    font-weight: 600;
}
.dashboardRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.dashboardIcon_up{
    color: rgb(0, 168, 22);
    font-size: 20px;
    display: none;
}
.dashboardIcon_down{
    color: rgb(168, 0, 22);
    font-size: 20px;
    display: flex;
}
.dashboardSub{
    font-size: 15px;
    color: gray;
}
.dashboardgraph{
    margin: 40px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.24)
}
.dashboardtable{
    margin: 40px;
    padding: 30px;
}
.chartTitle{
    margin-bottom: 20px;
}
.seller_progressbar{
    margin: auto;
    justify-content: center;
    width: 75px;
}
.seller_c_ticketsinfo_top_head_right{
    width: 100%;
    display: flex;
    background-color: #752E9E;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: auto;
    padding-left: auto;
    color: white;
}
#customized_dialog_title1{
    background-color: #752E9E;
    color: white;
}
.seller_c_tickets{
    cursor: pointer;
    width: 250px;
    height: var(--parent-height);
    border-radius: 20px;
    background-color: #752E9E;
    position: relative;
    margin: 10px;
}
.seller_c_tickets_top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
    background-image: url("https://miro.medium.com/max/1400/1*ydhn1QPAKsrbt6UWfn3YnA.jpeg");
    height:calc(var(--parent-height)*0.8);
    position: relative;
    background-size: cover;
}
.seller_c_tickets_top_info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height:calc(var(--parent-height)*0.2);
    position: absolute;
    bottom: 0;
    display: flex;
}
.seller_c_tickets_top_info_left{
    width: 75%;
    padding-left: 6px;
    color: white;
}
.seller_c_tickets_top_info_right{
    padding-right: 6px;
    color: white;
    position: relative;
    width: 25%;
    text-align: center;
}
.seller_c_tickets_top_info_right_nooftickets{
    position: block;
    width: 100%;
}
.seller_c_tickets_top_info_right_tickets{
    font-size: 10px;
}
.seller_c_tickets_cardstatus{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.seller_eventinfo_font{
    color:black
}
.ticketview{
    color:#752E9E;
    font-family: 'Palanquin', sans-serif;
    margin-top: -30px;
}
@media only screen and (max-width: 1550px) {
    .seller_progressbar {
        width: 70px;
    }
}
@media only screen and (max-width: 1270px) {
    .seller_progressbar {
        width: 65px;
    }
    .dashboardItem{
        flex: 1;
        margin: 10px 10px;
        padding: 25px 10px;
    }
}
@media only screen and (max-width: 1000px) {
    .dashboardItem {
        flex: 1 1;
        display: flex;
        flex-flow: column-reverse;
        margin: 20px 5px;
        padding: 5px 5px;
        height: 100%;
    }
    .dashboardtop {
        height: 200px;
    }
}
@media only screen and (max-width: 700px) {
    .dashboardtable {
        margin: 20px;
        padding: 10px;
    }
    .dashboardtop {
        height: 250px;
    }
}
@media only screen and (min-width: 600px) {
    @media only screen and (max-height: 415px) {
        .seller_c_sidebar {
            z-index: 10;
            position: fixed;
            left: 0%;
            top: -webkit-calc(55vh - 325px);
            top: calc(55vh - 200px);
            height: 400px;
            width: 130px;
            padding: 60px 10px;
        }
        .seller_c_sidebar_item {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-top: 6px;
            padding: 0px;
        }
        .seller_c_sidebar_container {
            padding: 30px 30px;
        }
        .seller-c_topbar{
            left: calc(57% - 207px);
        }
    }
    @media only screen and (min-height: 530px) {
        .seller_c_sidebar {
            z-index: 10;
            position: fixed;
            left: 0%;
            top: -webkit-calc(55vh - 325px);
            top: calc(55vh - 210px);
            height: 420px;
            width: 130px;
            padding: 0px 10px;
        }
        .seller_c_sidebar_item {
            width: 55px;
            height: 55px;
            border-radius: 10px;
            margin-top: 30px;
            padding: 0px;
        }
        .seller_c_sidebar_container {
            padding: 27px 27px;
        }
    }
    @media only screen and (max-height: 1000px) {
        .seller_dashboard{
            height: calc(100vh - 100px);
        }
    }
    .seller_c_create_img_in{
        margin: auto;
        width: 100%;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_img_in_R{
        margin: auto;
        width: 100%;
        padding: 20px;
        justify-content: center;
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .seller_c_create_event_date_time{
        display: flex;
    }
    .seller_c_create_event_date_time_left{
        width:49%;
        margin-right: 1%;
    }
    .seller_c_create_event_date_time_right{
        width:50%;
    }
    .seller_c_create_img{
        margin: auto;
        width: 100%;
        padding-left: 0%;
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
    .seller_dashboard {
        padding-left: 0px;
    }
    .seller_c_create_img_in{
        width: 288px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_img{
        width: 325px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_table_pos_c{
        padding: 10px;
    }
    .seller_c_create_table_pos_p{
        padding: 0px;
    }
    .seller_c_create_table_pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller_c_create_table{
        width: 515px;
        padding-left: 0%;
    }
    .seller_c_sidebar{
        width: 100%;
        top: 70px;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        
    }
    .seller_c_sidebar_container{
        display: flex;
        height:  70px;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    .seller_c_sidebar_item{
        margin-top: 0px;
        width: 50px;
        margin: 0% 8%;
        height: auto;
    }
    .seller_c_topbar{
        width: 100%;
        top: 145px;
        height: auto;
        min-height: 0px;
        padding: 10px 10px 0px;
        
    }
}
@media only screen and (max-width: 568px) {
    .seller_c_events{
        width: 230px;
        border-radius: 20px;
        margin: 10px;
    }
    .seller_r_setting{
        display: flex;
        flex-direction: column;
        background: transparent;
        height: 100%;
    }
    .dashboardgraph {
        margin: 60px 5px 20px;
        padding: 10px;
    }
    .dashboardtable {
        margin: 20px 5px;
        padding: 5px;
    }
    .seller-c-tickets{
        width: 230px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .seller_c_sidebar_item{
        margin: 0% 6%;
    }
    .seller_c_create_img_in{
        width: 255px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_table_pos_c{
        padding: 24px;
    }
}
@media only screen and (max-width: 450px) {
    .seller_c_events{
        width: 170px;
        border-radius: 20px;
        margin: 10px;
    }
    .dashboardMoney {
        font-size: 20px;
    }
    .dashboardSub {
        font-size: 10px;
    }
    .dashboardMoney {
        font-size: 20px;
    }
    .dashboardSub {
        font-size: 15px;
    }
    .dashboardRate {
        font-size: 15px;
    }
    .seller-c-tickets{
        width: 170px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .seller_c_events{
        width: 155px;
        border-radius: 20px;
        margin: 10px;
    }
    .seller_c_sidebar_item{
        margin: 0% 5%;
    }
    .seller_c_topbar_container{
        display: flex;
        height: auto;
        width: 360px;
        padding: 10px;
    }
    .seller_c_topbar{
        width: 360px;
        left: calc(50% - 51%);
        height: auto;
        min-height: 0px;
        padding: 10px 10px 10px;
    
    }
    .seller-c-tickets{
        width: 155px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 380px) {
    .seller_c_create_img{
        width: 288px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_img_in{
        width: 215px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_table_pos_c{
        padding: 24px;
    }
    .seller_c_create_table_pos_p{
        padding: 0px;
    }
    .seller_c_create_table_pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller_c_create_table{
        width: 455px;
        padding-left: 0%;
    }
    .dashboardMoney {
        font-size: 19px;
    }
    .dashboardSub {
        font-size: 12px;
    }
    .dashboardRate {
        font-size: 12px;
    } 
}
@media only screen and (max-width: 360px) {
    .seller_c_topbar{
        left: calc(50% - 53%);
    }
    .seller_c_topbar_item{
        margin: 0px 5px 0px;
    }
    .seller_c_create_table_pos_c{
        padding: 20px;
    }
    .seller_c_create_table_pos_p{
        padding: 0px;
    }
    .seller_c_create_img_in{
        width: 215px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_img{
        width: 277px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_table_pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller_c_create_table{
        width: 435px;
        padding-left: 0%;
    }
    .dashboardMoney {
        font-size: 17px;
    }
}
@media only screen and (max-width: 350px) {
    .seller_c_events{
        width: 135px;
        border-radius: 20px;
        margin: 10px;
    }
    .dashboardMoney {
        font-size: 14px;
    }
    .dashboardSub {
        font-size: 10px;
    }
    .dashboardRate {
        font-size: 10px;
    }
    .seller-c-tickets{
        width: 135px;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 330px) {
    .seller_c_events{
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }
    .seller-c-tickets{
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 320px) {
    .seller_c_topbar_container {
        width: 318px;
    }
    .seller_c_topbar_item{
        margin: 0px 3px 0px;
    }
    .seller_c_create_img_in{
        width: 215px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_img{
        width: 236px;
        height: 150px;
        padding-left: 0%;
        justify-content: center;
    }
    .seller_c_create_table_pos{
        overflow-x: hidden;
        padding: 10px;
    }
    .seller_c_create_table_pos_c{
        padding: 0px;
    }
    .seller_c_create_table_pos_p{
        padding: 0px;
    }
    .seller_c_create_table{
        width: 380px;
        padding-left: 0%;
    }
}
@media only screen and (max-width: 300px) {
    .seller_c_sidebar_item{
        margin: 0% 4%;
    }
    .seller_c_topbar{
        left: calc(50% - 68%);
        width: 280px;
    }
    .seller_c_topbar_item{
        margin: 0px;
    }
    .seller_c_sidebar_container{
        width: 280px;
    }
}
