@import '../../manager/dashboard/styles.module.scss';
.bg{
    width: 100%;
    padding: 30px 30px 30px 150px;
}
.bg_container{
    margin-bottom:30px ;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.bg_card{
    width: 32%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.bg_cart{
    width: 66%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.bg_graph{
    width: 32%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.bg_tabel{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}