/*start - manager index pg*/
.manager-bg
{
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
}
.manager-index
{
    display: flex;
    overflow: auto;
}
.manager-index-content
{
    width: 100%;
}
.manager-index-container
{
    width: 100%;
    padding-left: 30px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*end- manager index page*/

.manager-settings-main-container
{
    width: 100%;
    padding-left: 30px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #E3E3ED !important;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .manager-index{
        display: block;
        overflow: auto;
    }
    .manager-index-content h1{
        padding-left: 30px;
    }
    .manager-index-container{
        padding-left: 0px;
        display: flex;
    }
    .manager-settings-main-container{
        padding-left: 0px;
        display: flex;
    }
}