/*start - manager index pg*/
.manager_bg {
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    position: absolute;
    width: 100%;

}

.manager_index {
    display: flex;
    overflow: auto;
    padding-top: 80px;
    padding-left: 30px;
}

.manager_setting_fix {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.manager_index_content {
    width: 100%;
}

.manager_index_container {
    width: 100%;
    padding-left: 120px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.manager_index_scroll_set{
    width:100%
}

/*end- manager index page*/

/*start - manager sellers pages*/
.manager_sellers_main_container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*end - manager sellers pages*/

/*start- manager settings page*/

.manager_settings_bg {
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: -webkit-fill-available;
}

.manager_settings_container {
    width: 100%;
    padding-left: 9%;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.manager_settings_index {
    width: 100%;
    margin-top: 100px;
    padding-left: 32px;
    height: 100%;
}

.manager_settings_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 45%;
}

.manager_setting {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manager_settings_container_listinput_container{
    width: 100%;
    display: flex;
    padding: 40px;
}
.manager_settings_container_listinput_container_left{
    width:50%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-right: 50px;
    padding: 30px 30px;
    border-radius: 30px;
    background-color: rgb(245, 243, 252);
}
.manager_settings_container_listinput_container_right{
    width:50%;
    padding: 30px 30px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 30px;
    background-color: rgb(245, 243, 252);
}
@media only screen and (max-width: 600px) {
    .manager_index {
        display: block;
        overflow: auto;
        margin-top: 120px;
    }

    .manager_index_content h1 {
        padding-left: 30px;
    }

    .manager_index_container {
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }

    .manager_settings_container {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 1200px) {
    .manager_settings_container {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .manager_settings_container {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 940px) {

    .manager_index_scroll_set{
        margin-top: 20px;
    }
    .manager_sellers_main_container{
        margin-top: 20px;
    }
    .manager_settings_container_listinput_container{
        display: block;
    }
    .manager_settings_container_listinput_container_left{
        width:100%;
        margin-bottom: 40px;
    }
    .manager_settings_container_listinput_container_right{
        width:100%
    }
}

/*end- manager settings page*/