/*start - manager index pg*/
.manager-bg
{
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
    height:100vh;
    position: absolute;
}
.manager-index
{
    display: flex;
    overflow: auto;
    padding-top: 80px;
    padding-left: 30px;
}
.manager-index-content
{
    width: 100%;
}
.manager-index-container
{
    width: 100%;
    padding-left: 120px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*end- manager index page*/

.manager-settings-main-container
{
    display: flex;
    justify-content: center;
    width: 100%;
}
.manager-setting{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .manager-index{
        display: block;
        overflow: auto;
        margin-top: 120px;
    }
    .manager-index-content h1{
        padding-left: 30px;
    }
    .manager-index-container{
        padding-left: 0px;
        display: flex;
    }
}

/*start - sellers page*/
.manager-sellers-container
{
    width: 100%;
    padding-left: 20%;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*end - sellers page*/