/*start - Buyer index pg*/
.buyer-bg{
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
}
.buyer-index{
    display: flex;
    overflow: auto;
}
.buyer-index-content{
    width: 100%;
}
.buyer-index-container{
    width: 100%;
    padding-left: 30px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .buyer-index{
        display: block;
        overflow: auto;
    }
    .buyer-index-content h1{
        padding-left: 30px;
    }
    .buyer-index-container{
        padding-left: 0px;
        display: flex;
    }
}
/*end- Buyer index pg*/
/*start- Buyer settings pg*/
.buyer-setting{
    width:100%;
}
.buyer-setting-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*end- Buyer settings pg*/