/*start - Buyer index pg*/
.buyer-bg{
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
}
.buyer-index{
    padding-top: 70px;
    display: flex;
    max-height: 100%;
    position: relative;
}
.buyer-index-container-parent{
    position:relative;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}
.buyer-index-container-d2{
    position: absolute;
    height: auto;
}
.buyer-index-content{
    width: 100%; 
}

.buyer-index-container{
    width: 100%;
    padding-left: 30px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .buyer-index{
        display: block;
        overflow: auto;
    }
    .buyer-index-content h1{
        padding-left: 30px;
    }
    .buyer-index-container{
        padding-left: 0px;
        display: flex;
    }
    .buyer-index-container-d2{
        position: relative;
    }
}
/*end- Buyer index pg*/
/*start- Buyer settings pg*/
.buyer-setting{
    width:100%;
}
.buyer-setting-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*end- Buyer settings pg*/
/*start- Cart pg*/
.cart{
    height: 100vh;
}
.cart-container{
    width:100%;
    height:calc(100vh - 70px);
    display: flex;
}
.cart-container-left{
    padding: 50px;
    height: 100%;
    width:65%
}
.cart-container-right{
    padding: 50px;
    height: 100%;
    width:35%
}
.cart-container-left-drower{
    padding: 10px;
    height: 100%;
    box-shadow: -1px -1px 12px 2px rgba(0,0,0,0.19);
-webkit-box-shadow: -1px -1px 12px 2px rgba(0,0,0,0.19);
-moz-box-shadow: -1px -1px 12px 2px rgba(0,0,0,0.19);
}
.cart-container-right-drower{
    padding: 10px;
    height: 100%;
    box-shadow: -1px -1px 12px 2px rgba(0,0,0,0.19);
-webkit-box-shadow: -1px -1px 12px 2px rgba(0,0,0,0.19);
-moz-box-shadow: -1px -1px 12px 2px rgba(0,0,0,0.19);
}
.cart-container-right-drower-1{
    height: 75%;
    width: 100%;
}
hr{
    width: 80%;
}
.cart-container-right-drower-2{
    height: 25%;
    width:100%;
}
.cart-container-right-drower-2-price{
    display: flex;
}
.cart-container-right-drower-2-price-left{
    width: 40%;
    margin: 3px 0px 0px 20px!important;
    padding-top: 0px;
}
.cart-container-right-drower-2-price-left h1{
    margin: 0px;
    padding: 0px;
}
.cart-container-right-drower-2-price-right{
    text-align: end;
    width:60%;
    padding-right: 30px;
}
.modern-paybutton{
    width: 100%;
    padding: 0px 40px;
}
.modern-paybutton-t{
    color: white;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #752E9E;
}
/*end- Cart pg*/
/*start- Checkout pg*/
.checkout-bg{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../../assets/bg.png");
    background-size: cover;
}
.checkout-container{
    display: flex;
    margin: 0 20%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 600px;
    -webkit-box-shadow: 0px 0px 50px 6px rgba(0,0,0,0.32); 
    box-shadow: 0px 0px 50px 6px rgba(0,0,0,0.32);
}
.checkout-container-left{
    width:50%;
    overflow: auto;
    background-color: white;
}
.checkout-container-right{
    width: 50%;
    background: rgb(68,42,76);
    background: linear-gradient(142deg, rgba(68,42,76,1) 45%, rgba(49,30,50,1) 100%);
    -webkit-box-shadow: -50px 0px 50px -30px rgba(0,0,0,0.55); 
    box-shadow: -50px 0px 50px -30px rgba(0,0,0,0.55);
    overflow: hidden;
    
}
.Pay-Now-btn{
padding: 8%;
font-size: 24px;
text-align: center;
position: relative;
bottom: 0;
 background-color: #aa7f1c;
 width: 100%;
 height:20%;
}
.checkout-container-right-card{
    padding: 30px;
    height: 80%;
    color:white;
}
.checkout-container-right-card-h2{
    font-weight: 100;
    font-size: 45px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.font-icon{
    font-size: 30px;
    margin: 0 10px;
}
.font-icon-bar{
 padding-top: 20px;
 text-align: center;
}
.creit-card-b{
    color: white;
    width: 100%;
    padding: 20px 0px;
}
.form__field{
    padding: 10px;
    font-size: 25px;
    width: 100%;
    border: 0;
    background: transparent;
    color: white;
    outline: 0;
}
.form__field-2{
    padding: 10px;
    font-size: 25px;
    width: 50%;
    border: 0;
    background: transparent;
    color: white;
    outline: 0;
}
.form__field:focuse{
    border: 0;
}
.checkout-container-left-drower{
    height: 100px;
}
.checkout-container-left::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
@media only screen and (max-width: 550px) {
    .checkout-container{
        display: block;
        margin: 100px 0 0;
        height: 100%;
        -webkit-box-shadow: 0px 0px 50px 6px rgba(0,0,0,0); 
        box-shadow: 0px 0px 50px 6px rgba(0,0,0,0);
    }
    .checkout-container-left{
       width: 100%; 
       height: auto;
       overflow: hidden;
       height: 100%;
        padding-bottom: 900px;
        margin-top: 100px;
    }
    .checkout-container-right{
        width: 100%; 
        height: auto;
        overflow: hidden;
     }
     .checkout-container-right-card-h2{
         font-size: 25px;
         margin-top: 10px;
         margin-bottom: 25px;
     }
     .form__field{
         font-size: 18px;
     }
     .form__field-2{
         font-size: 18px;
     }
     .Pay-Now-btn{
         padding: 4%;
         font-size: 20px;
     }
     .font-icon{
         margin: 0 5px;
     }
}
@media only screen and (max-width: 800px) {
    .checkout-container{
        margin: 0px 0 0;
    }
    .Pay-Now-btn{
        padding: 4%;
        font-size: 25px;
    }
    .form__field{
        font-size: 22px;
    }
    .form__field-2{
        font-size: 22px;
    }
}
@media only screen and (max-width: 1000px) {
    .checkout-container{
        margin: 0px 2% 0;
    }
    .Pay-Now-btn{
        padding: 4%;
        font-size: 25px;
    }
    .form__field{
        font-size: 22px;
    }
    .form__field-2{
        font-size: 22px;
    }
}
@media only screen and (max-width: 1300px) {
    .checkout-container{
        margin: 0px 5% 0;
    }
    .Pay-Now-btn{
        padding: 4%;
        font-size: 25px;
    }
    .form__field{
        font-size: 22px;
    }
    .form__field-2{
        font-size: 22px;
    }
}
/*End- Checkout pg*/