@import '../../styles/config.module.scss';
/* start profile Section*/
.profile_container{
    width:100%;
    padding: 0px 40px;
}
.profile_container_bg{
    border-radius: 30px;
    background-color: rgb(245, 243, 252);
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 20px;
    display: flex;
}
.profile_container_bg_left{
    width:50%;
    padding: 0px 10px;
}
.profile_container_bg_right{
    width:50%;
    padding: 0px 10px;
}
.profile_card{
    background-color: $themecolour;
    padding: 30px;
    border-radius: 20px;
}
.profile_card_container{
    width:100%;
    display:flex;
}
.profile_card_left{
    width:40%
}
.profile_card_right{
    color: white;
}
.profile_card_container_footer{
    background-color: white;
    border-radius: 20px;
    padding: 0.2px;
    margin: 0px 50px;
    color: black;
    text-align: center;
    cursor: pointer;
}
.profile_card_menu_container{
    padding: 20px 10px;
}
.profile_card_menu_item{
    width:100%;
    display: flex;
    padding: 20px 100px;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.profile_card_menu_item:hover{
    background-color: $lightselectcolour;
}
.profile_card_menu_item_left{
    position: relative;
    top: 50%;
    margin-right: 30px;
}
.profile_card_menu_item_center{
    width:65%;
}
.profile_card_menu_item_center h3{
    margin: 0px;
    padding: 0px;
}
.profile_card_menu_item_right{
    width: 30px;
    opacity: 0.5;
}
@media only screen and (max-width: 1400px) {
    .profile_card_left{
        width:55%;
    }
    .profile_card_left{
        width:45%
    }
}
@media only screen and (max-width: 900px) {
    .profile_container_bg{
        display: block;
    }
    .profile_container_bg_left{
        width: 100%;
    }
    .profile_container_bg_right{
        width:100%;
    }
}
/* end profile Section*/

/* Start Account settings Section*/
.account_profile_card{
    width: 100%;
}
.account_profile_card_container{
    width: 100%;
    display: flex;
}
.account_profile_card_container_left{
    position: relative;
    width:40%;
    min-height: 150px;
}
.account_profile_card_container_right{
    width:60%;
}
.account_profile_card_container_right h1{
    padding: 0;
    margin: 0;
}
.account_profile_container_form{
    width: 100%;
}
.account_profile_container_form_section1{
    width: 100%;
    display: flex;
    margin: 20px 0px;
}
.account_profile_container_form_section1_left{
    width:50%;
    padding-right: 20px;
}
.account_profile_container_form_section1_right{
    width:50%;
}
.account_profile_container_form_section2{
    width:100%;
    margin-bottom: 30px;
}
.account_profile_container_form_section3{
    width:100%;
    display: flex;
    position: relative;
}
.account_profile_container_form_section3_left{
    width:50%;
}
.account_profile_container_form_section3_right{
    display: flex;
    width:50%;
    position: relative;
}
.account_profile_container_form_section3_right_btn{
    position: absolute;
    right: 0;
    float: right;
    background-color: $themecolour;
    color:white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    margin-right: 30px;
}
.account_profile_card_container_left_img{
    position: absolute;
    width: 120px;
    height: 120px;
    right: 0;
    left:0;
    top:0;
    bottom:0;
    margin: auto;
    border: 3px solid rgba(156, 60, 247, 0.589);
    border-radius: 50%;
}
.account_profile_card_container_left_img_icon{
    border-radius: 50%;
}
/* End Account settings Section*/
.device_card{
    margin: 20px;
    display: flex;
    width: 100%;
}
.device_card_qr{
    margin: 0px;
    padding: 0px;
    width: 40%;
}
.device_card_data{
    width: 60%;
}
.addMoreEndDevices{
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}
.device_list{
    max-height: 50vh;
    overflow: auto;
}
