/*start - navbar*/
.navbar{
    width:100%;
    height:70px;
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
}
.navbar-left{
    width: 30%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.navbar-right{
    justify-content: flex-end;
    float: right;
    overflow: hidden;
    width: 70%;
    text-align: right;
    display: flex;
    position: relative;
}
.main-menu{
    position: absolute;
    width: 100%;
    position: relative;
    float: right;
    text-align: right;
    list-style: none;
    display: flex;
    margin-top: 5px !important;
}
.main-menu li {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin-right: 5%;
}
.cart{
    padding-right: 30px;
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    .main-menu li{
        font-size: 15px;
    }
}
@media only screen and (max-width: 750px) {
    .main-menu{
        display: none;
    }
}
/*end - navbar*/
/*start - Shop*/
.shop-home{
    height: calc(100vh);
}
.new{
    margin: 30px 10px!important;
    position: relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
.shop-card-controler{
    display: flex;
    height: calc(var(--parent-height)*0.2);
}
.shop-card-controler-left{
    color: black;
    display: flex;
    width: 50%;
    background-color: white;
    border-bottom-left-radius: 19px;
}
.shop-card-controler-right{
    color: black;
    display: flex;
    width: 50%;
    background-color: white;
    border-bottom-right-radius: 19px;
}
.icon{
    display: flex;
    justify-content: end;
    padding-top: 7px;
    width: 55%;
    height: calc(var(--parent-height)*0.2);
    padding-right: 10px;
}
.text{
    padding-top: 7px;
    width: 35%;
}
/*end - Shop*/