/*start - navbar*/
.navbar{
    width:100%;
    height:70px;
    padding-top: 10px;
    padding-left: 50px;
    display: flex;
}
.navbar-left{
    width: 30%;
    font-size: 35px;
    display: flex;
    flex-direction: column;
}
.navbar-right{
    justify-content: flex-end;
    float: right;
    overflow: hidden;
    width: 70%;
    text-align: right;
    display: flex;
}
.main-menu{
    position: relative;
    float: right;
    text-align: right;
    list-style: none;
    display: flex;
}
.main-menu li {
    padding-right: 50px;
    font-size: 20px;
    cursor: pointer;
}
.cart{
    padding-right: 30px;
    cursor: pointer;
}
/*end - navbar*/