.drop_file_input{
    position: relative;
    height:100%;
    border:2px dashed rgb(98, 2, 182);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 236, 240);
    padding: 30px opx;
    overflow: hidden;
}
.drop_file_input input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    cursor: pointer;
}
.drop_file_input_label{
    padding: 25px 0px;
    min-width:300px
}
.drop_file_input_label p{
    text-align: center;
}
.drop_file_input_label_image{
    min-width: 200px!important;
    min-height: 200px !important;
    max-width: 200px!important;
    max-height: 200px !important;
}