.seller_bg
{
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.seller_index
{
    display: flex;
    overflow: auto;
}
.seller_index_content
{
    width: 100%;
}
.seller_index_container
{
    width: 100%;
    padding-left: 120px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seller_index_container_name
{
    width: 100%;
    padding-left: 160px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seller_index_float
{ 
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.seller_setting_container{
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
}
.seller_setting{
    width: 100%;
    margin-top: 50px;
    padding-left: 124px;
    height: 100%;
}
.seller_setting_fix{
    width: 100%;
    margin-top: 150px;
    height: calc(100vh - 150px);
    overflow: auto;
}
.seller_setting_con{
    width: 100%;
    height: 80%;
    background: transparent;
}
.seller_setting_con_in{
    width: 100%;
    height: 100%;
    background: transparent;
}
.seller_index_parent_fix{
    width: 100%;
    margin-top: 125px;
    height: calc(100vh - 126px);
    overflow: auto;
}
@media only screen and (min-width: 600px) {
    @media only screen and (max-height: 1000px) {
        .seller_setting_fix{
            margin-top: 100px;
        } 
    } 
    @media only screen and (max-height: 565px) {
        .seller_setting_fix{
            width: 100%;
            margin-top: 60px;
            height: calc(100vh - 70px);
            overflow: auto;
        } 
    }
    .seller_setting_con h1{
        margin-left: 20px;
    }
    
}
@media only screen and (max-width: 600px) {
    @media only screen and (max-height: 321px) {
        .seller_setting_fix{
            width: 100%;
            margin-top: 150px;
            height: calc(100vh - 15s0px);
            overflow: auto;
        } 
    }
    .seller_index{
        display: block;
        overflow: auto;
    }
    .seller_index_content h1{
        padding-left: 30px;
    }
    .seller_index_container{
        padding-left: 0px;
        display: flex;
    }
    .seller_index_container_name{
        padding-left: 0px;
        display: flex;
    }
    .seller_index_parent{ 
    padding-top: 0px;
    }
    .seller_index_parent_fix{
        width: 100%;
        margin-top: 200px;
        height: calc(100vh - 200px);
        overflow: auto;
    }
    .seller_setting{
        width: 100%;
        margin-top: 150px;
        padding-left: 0px;
        height: 100%;
    }
    .seller_setting_con h1{
        margin: 10px 50px 10px;
    }
}