.seller-bg
{
    background-image: url("../../assets/dashbord-bg.png");
    background-size: cover;
}
.seller-index
{
    display: flex;
    overflow: auto;
}
.seller-index-content
{
    width: 100%;
}
.seller-index-container
{
    width: 100%;
    padding-left: 120px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seller-index-container-name
{
    width: 100%;
    padding-left: 160px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
.seller-index-parent
{ 
    padding-top: 120px;
}
.seller-index-float
{ 
    position: fixed;
    right: 10px;
    bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .seller-index{
        display: block;
        overflow: auto;
    }
    .seller-index-content h1{
        padding-left: 30px;
    }
    .seller-index-container{
        padding-left: 0px;
        display: flex;
    }
    .seller-index-container-name{
        padding-left: 0px;
        display: flex;
    }
    .seller-index-parent{ 
    padding-top: 180px;
    }
}